.code-keep-layout {
    height: 100%;
}
.header {
    position: fixed;
    height: 60px;
    line-height: 25px;
    padding-left: 40px;
    font-size: 30px;
    font-weight: bold;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    background: #1976d2;
    color: #fff;
}
.content {
    margin-top: 60px;
    padding-top: 0;
    padding-bottom: 0;
}
.content .p-col,.content .p-col-fixed {
    padding-top: 0;
    padding-bottom: 0;
}
.content .sider {
    width: 300px;
}