.code-keep-layout {
    height: 100%;
}
.layout {
    margin-top: 60px;
}
.header {
    position: fixed;
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    font-size: 30px;
    font-weight: bold;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    background: #1976d2;
    color: #fff;
}
.sider {
    position: relative;
    width: 240px!important;
    height: 100%;
    max-width: 240px!important;
    min-width: 240px!important;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
}
.content {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}